<section data-ng-controller="MedicationsController" data-ng-init="findOne()">
    <span>{{medication.created | date:'medium'}}</span> /
    <span>{{medication.user.name}}</span>
    <h2>{{medication.name}}</h2>
    <div data-ng-show="global.user._id == medication.user._id">
        <a class="btn" href="/#!/medications/{{medication._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{medication.dosage}}</div>
</section>
